.my-navbar{
    height: 65px;
    background-color: aqua;
}
.icon-btn {
    font-size: 1.5rem;
    color: black;
    margin: 0 0.5rem;
}

.order-card{
    width: 300px;
    height: 60px;
    left: 90px;
}
.order-img{
    max-width: 50px;
    height: 50px;
}
.order-tittle{
    top: 15px;
    bottom: 0;
    left: 60px;
    margin: auto;
}
.button-card{
    width: 200px;
    height: 100px;
    gap: 10px;
    background-color: transparent;
    top: 28px;
    left: 30px;
}

.add-img{
    max-width: 22px;
    height: 22px;
    left: 6px;
}
.search-customer-card{
    width: 500px;
    height: 380px;
    gap: 10px;
    top: 28px;
    left: 30px;
}
.address-label{
    top: 165px;
    left: 25px;
}
.address-input{
    top: 190px;
    left: 20px;
}
.number-label{
    top: 235px;
    left: 25px;
}
.number-input{
    top: 262px;
    left: 20px;
}

.clear-btn{
    top: 320px;
    right: 25px;
}
.search-card{
    width: 500px;
    height: 380px;
    gap: 10px;
    top: 28px;
    right: 30px;
}
.search-input{
    left: 20px;
}
.itemName-label{
    top: 95px;
    left: 25px;
}
.itemName-input{
    top: 120px;
    left: 20px;
}
.search-button{
    width: 100px;
    height: 40px;
    top: 50px;
    right: 25px;
}
.itemPrice-label{
    top: 165px;
    left: 25px;
}
.itemPrice-input{
    top: 190px;
    left: 20px;
}
.qty-label{
    top: 165px;
    right: 185px;
}
.qty-input{
    top: 190px;
    right: 25px;
}
.orderQty-label{
    top: 235px;
    left: 25px;
}
.orderQty-input{
    top: 262px;
    left: 20px;
}
.add-item-btn{
    top: 320px;
    left: 20px;
}
.subtotal-label{
    top: 235px;
    right: 180px;
}
.subtotal-input{
    top: 262px;
    right: 25px;
}
.clear1{
    top: 320px;
    left: 180px;
}
.btn-addToCard{
    top: 320px;
    right: 25px;
}
.table-card{
    width: 1200px;
    height: 150px;
    top: 425px;
}
.total-label{
    top: 25px;
    left: 20px;
}
.total-input{
    top: 20px;
    left: 100px;
}
.pay-card{
    width: 550px;
    height: 235px;
    top: 590px;
    right: 30px;
}
.bonus-input{
    top: 20px;
    right: 20px;
}
.discount{
    top: 20px;
    right: 190px;
}
.subAmount-label{
    top: 80px;
    left: 20px;
}
.subAmount-input{
    top: 75px;
    left: 100px;
}
.cash-label{
    top: 80px;
    right: 230px;
}
.cash-input{
    top: 75px;
    right: 20px;
}
.balance-label{
    top: 135px;
    left: 20px;
}
.balance-input{
    top: 130px;
    left: 100px;
}
.button-set{
    width: 400px;
    right: 30px;
    bottom: 80px;
    background-color: transparent;
}
.orderId-label{
    top: 135px;
    right: 200px;
}
.orderId-input{
    top: 130px;
    right: 20px;
}
.btn-confirmOrder{
    top: 185px;
    right: 10px;
}
.btn-delete{
    top: 185px;
    left: 10px;
}
.btn-orderClear{
    top: 185px;
    right: 0;
    left: 0;
    margin: auto;
}
.popup-card{
    width: 500px;
    height: 600px;
}

.card-center{
    position: absolute;
    top: 130px;
}